name: Build

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - uses: xmake-io/github-action-setup-xmake@v1

      - uses: actions/cache@v4
        with:
          path: ~/AppData/Local/.xmake
          key: xmake-${{ hashFiles('xmake.lua') }}
          restore-keys: xmake-

      - run: xmake repo -u
      - run: xmake f -a x64 -m release -p windows -y
      - run: xmake -y

      - uses: actions/upload-artifact@v6
        with:
          name: MiniAPI
          path: |
            bin/
